body{
    background-color: red;
}
.allProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product{
    border: 2px solid blue;
    width: 300px;
}
img{
    height: 200px;
}
.productName{
    text-decoration: none;
    color: bisque;
}
