body{
    display: flex;
    background: linear-gradient(#00204a,#005792,#00204a);
    border: solid 5px;
    justify-content: center;
    align-items: center;
}
img{
    height: 300px;
    background-color: beige;
}
h1{
    font-size: 30px;
    text-align: center;
}